@import "../utils/functions";

.hamburger{
  width: px-to-rem(50px);
  height: px-to-rem(50px);
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: absolute;
  right: px-to-rem(15px);
  z-index: 42;
  @media screen and (min-width: px-to-rem(720px)) {
    display: none;
  }
  &__icon {
    width: 100%;
    height: px-to-rem(1px);
    background-color: black;
    display: inline-block;
    transition: all 200ms ease-in-out;
    position: absolute;
    &:first-child {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
    }
    &:last-child {
      bottom: 0;
    }
  }
  &:hover {
  }
}


.hamburger__select {
  width: px-to-rem(50px);
  height: px-to-rem(50px);
  position: absolute;
  right: px-to-rem(15px);
  z-index: 2137;
  opacity: 0;
  cursor: pointer;
  &:checked + .hamburger .hamburger__icon {
    &:first-child {
      transform: rotate(45deg);
      transform-origin: top left;
      width: px-to-rem(70px);
    }
    &:nth-child(2) {
      transform: translateX(-100%);
    }
    &:last-child {
      transform: rotate(-45deg);
      transform-origin: bottom left;
      width: px-to-rem(70px);
    }
  }
}