@import "../variables";
@import "../utils/functions";

.logo {
  background-image: url("#{$img-path}/logo.svg");
  background-repeat: no-repeat;
  width: px-to-rem(64px);
  height: px-to-rem(64px);
  display: inline-block;
  margin-top: px-to-rem(10px);
  margin-bottom: px-to-rem(10px);
  overflow: hidden;
  text-indent: -999px;
}